<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pillager - Scan Results</title>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title has-text-info">
            Pillager
        </h1>
        <p class="subtitle">
            Results of your latest hunt
        </p>
        <div class="columns is-multiline">
            {{ range . }}
                <div class="column">
                    <div class="box shadow-md">
                        <p class="is-size-4">{{.File}}</p>
                        <p>
                            <span class="has-text-weight-bold">Tags:</span>
                            <span class="tag">
                                <code>{{.Tags}}</code>
                            </span>
                        </p>
                        <p>
                            <span class="has-text-weight-bold">Leak:</span>
                            <span class="is-family-code has-text-danger">{{.Secret}}</span>
                        </p>
                        <p>
                            <span class="has-text-weight-bold">Line:</span>
                            {{.StartLine}}
                        </p>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
</section>
</body>
</html>
