<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pillager - Scan Results</title>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Pillager
        </h1>
        <h2 class="subtitle">
            Results of your latest hunt
        </h2>
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th><abbr title="Filename">File</abbr></th>
                    <th><abbr title="Line Number">Line</abbr></th>
                    <th><abbr title="Offender">Leak</abbr></th>
                </tr>
                </thead>
                <tbody>
                {{ range .Leaks }}
                    <tr>
                        <th>{{.File}}</th>
                        <td>{{.LineNumber}}</td>
                        <td class="has-text-danger">{{.Offender}}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>
