# Pillager
Results of your latest hunt from {{ now.Format "2006-01-02 15:04 MST" }}

| File    |  Line    | Secret |
| --------| ---------| -------- |
{{ range . -}}
    | {{ .File }} | {{ .StartLine }} | {{ quote .Secret }} |
{{ end -}}
