<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pillager - Scan Results</title>
    <style type="text/css">
        .offender {
            -webkit-text-security: disc !important;
        }

        .offender:hover {
            -webkit-text-security: none;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="hero is-black">
    <div class="hero-body">
        <p class="title">
            Pillager
        </p>
        <p class="subtitle">
            Results of your latest hunt
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th><abbr title="Filename">File</abbr></th>
                    <th><abbr title="Line Number">Line</abbr></th>
                    <th><abbr title="Offender">Leak</abbr></th>
                </tr>
                </thead>
                <tbody>
                {{ range .Leaks }}
                    <tr>
                        <th>{{.File}}</th>
                        <td>{{.LineNumber}}</td>
                        <td class="has-text-danger">{{.Offender}}</td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>
